<div class="container">
    <form action="" name="calc" class="calculator">
        <input type="text" class="value" readonly name="txt" value="{{calS.valueView}}" />
        <span class="num clear" (click)="clear()"><i>C</i></span>

        <app-button [name]="'/'"></app-button>
        <app-button [name]="'*'"></app-button>
        <app-button [name]="'7'"></app-button>
        <app-button [name]="'8'"></app-button>
        <app-button [name]="'9'"></app-button>
        <app-button [name]="'-'"></app-button>
        <app-button [name]="'4'"></app-button>
        <app-button [name]="'5'"></app-button>
        <app-button [name]="'6'"></app-button>
        <span class="num plus" (click)="set('+')"><i>+</i></span>
        <app-button [name]="'1'"></app-button>
        <app-button [name]="'2'"></app-button>
        <app-button [name]="'3'"></app-button>
        <app-button [name]="'0'"></app-button>
        <app-button [name]="'00'"></app-button>
        <app-button [name]="'.'"></app-button>
        <span class="num equal" (click)="getKetQua()"><i>=</i></span>

    </form>
</div>